.hero__btn{
    display: block;
    width: 250px;
    padding: 18px 0px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.6rem;
    color: #fff;
    background-color: #f53838;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #f5383883;
    text-align: center;
    margin: 30px 0px 15px;
    transition: all .5s;
}

.nav-btn{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.signin-btn {
    color: #000;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}

.signup-btn {
    display: inline-block;
    width: 60%;
    max-width: 150px;
    padding: 7px 0px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #f53838;
    background-color: transparent;
    border: 2px solid #f53838;
    border-radius: 25px;
    border-width: 1px;
    transition: all .5s;
}

.sub__btn {
    display: block;
    width: 250px;
    padding: 18px 0px;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
    background-color: #f53838;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #f5383883;
    text-align: center;
    margin: 30px 0px 15px;
    transition: all .5s;
}

.pricing-btn {
    display: inline-block;
    width: 60%;
    max-width: 250px;
    padding: 12px 0px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    color: #f53838;
    background-color: transparent;
    border: 2px solid #f53838;
    border-radius: 25px;
    transition: all .5s;
}

