.feature-pic{
    position: absolute;
    width: 508.12px;
    height: 414.71px;
    left: 184.52px;
    top: 960.38px;

}
.feature{
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}
