.testimonials{
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 85%;
    text-align: center;
    margin: 250px auto;
}

.testimonial__desc{
    text-align: center;
    margin: 20px 0px 50px;
    font-size: 1.3rem;
    line-height: 25px;
    color: #202020;
}

.fa-star {
    color: #ffd700;
}
.testimonial__cards {
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: center;
    align-items: center;
    width: 100%;
}
.testimonial__card {
    width: 100%;
    max-width: 350px;
    height: 240px;
    padding: 20px 25px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fff;
    margin: 20px auto;
    transition: transform .5s ease-in;
}

.test__header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.test__name_head {
    text-align: left;
    font-weight: 350;
}

.test__review {
    text-align: left;
    font-weight: 350;
}

.test__name {
    font-weight: 500;
}