
.feature{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 160px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    height: 382px;

}

.feature__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 9rem;
    grid-area: content;
    width: 90%;
    margin: 30px auto 100px;
}



.feature__title{
    font-size: 3rem;
    font-weight: 500;
    line-height: 70px;
}

.feature__details{
    color: #202020;
    margin: 20px 0px;
    font-size: 1.6rem;
    line-height: 35px;

}

.feature__list{
    list-style-type: none;
    text-align: left;
    color: #202020;
    display:block;
}

.feature__pic{
    width: 611px;
    object-fit: cover;
}

.fa-check {
    margin-right: 10px;
    color: #2fab73;
}

.fa-check-circle {
    margin-right: 10px;
    color: #2fab73;
}

.feature__item{
   line-height: 50px;
   font-size: 1.6rem;
}