.pricing {
    display: flex;
    flex-direction: column;
    align-items: center; /* center children */
    width: 85%;
    text-align: center;
    margin: 50px auto; /* adjusted to reduce excessive space */
}

.pricing__cards {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); /* equally divide the space among three columns */
    grid-gap: 30px; /* spacing between grid items */
    justify-content: center; /* center grid items horizontally */
    align-items: start; /* align items from the start of the grid line */
}

.pricing__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* spread out content vertically */
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px auto 50px;
    padding: 75px 20px 60px; /* adjust padding as needed */
    border: 2px solid #d3d3d3;
    font-size: 1.6rem;
    height: 100%; /* new line to ensure equal height */
}

.pricing__title{
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.pricing__desc{
    text-align: center;
    margin: 20px 0px 50px;
    font-size: 1.6rem;
    line-height: 25px;
    color: #202020;
}